// Define variables for your color scheme

// For example:
$red: #EF2D56;
$light-red: #F57D97;
$blue: #332242;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #69A388;
$light-green: #B8D3C7;
$gray: #0E0000;
$light-gray: #EBDDD0;
$light-blue: #b9b7cc;
