// Define variables for your color scheme

// For example:
$red: #EF2D56;
$blue: #332242;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #69A388;
$gray: #0E0000;
$light-gray: #EBDDD0;
$light-blue: #423F5E;
