// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');


.home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.3)), asset-url('new_home.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  box-shadow: 0 .125rem .50rem rgba(black, .75);
}

.home-title {
  color: white;
  padding-top: 25vh;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 0 .125rem .50rem rgba(black, .75);
}

.subtitle {
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
}


.home-color {
  color: black;
  background-color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 30px;
  border: 3px solid white;
  padding: 6px 20px;
  &:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
  }
}

.btn-shadow {
  box-shadow: 0 .125rem .50rem rgba(black, .75);
}

.fa-space-shuttle {
  color: white;
  position: relative;
  top: -7px;

}