<div class="container">
  <h1>Booking Requests</h1>
  <div class="p-5 shadow-lg mb-5">
    <h2>The ships I will ride</h2>
    <div class="booking_cards">
      <% @my_own_bookings.each do |booking| %>
        <%# <%= link_to 'booking', do %>
          <%= render 'shared/bookingcard', booking: booking %>
        <%# <% end %>
      <% end %>
    </div>
  </div>
  <div class="p-5 shadow-lg mb-10">
    <h2>My booked ships</h2>
    <div class="booking_cards">
      <% @my_ships_bookings.each do |booking| %>
        <%# <%= link_to 'booking', do %>
          <%= render 'shared/bookingcard', booking: booking %>
        <%# <% end %>
      <% end %>
    </div>
  </div>
</div>
