<div class="card-product">
  <div class="description">
    <h2></h2>
    <p><%=booking.status %></p>
    <p> <%= booking.crew_size %></p>
  </div>
  <div class="dates">
    <div class="start">
      <h3>Starting Date</h3>
      <p><%= booking.date_start %></p>
    </div>
    <div class="end">
      <h3> Ending Date</h3>
      <p><%= booking.date_end %></p>
    </div>
  </div>
</div>