<div class="footer">
  <div class="d-flex justify-content-center">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-google-plus-g"></i>
    <i class="fab fa-github"></i>
  </div>
  <div class="d-flex justify-content-center">Copyright Starships Looters, 2020.</div>
</div>
