<div class="home" id="home">
  <div class="container">
    <h1 class="home-title">The best space ships of the universe</h1>
    <div class="text-center mt-5">
      <h1><%= link_to "Enter", ships_path(), class: "btn btn-info home-color" %></h1>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2>Ships selection</h2>
  <div class="cards c-home">
    <% @ships.each do |ship| %>
      <%= link_to ship_path(ship.id), class: "card-img" do %>
        <div class="card" style="background-image: linear-gradient(rgba(10, 10, 10, 0.3), rgba(240, 240, 240, 0.3)), url('https://res.cloudinary.com/teka/image/upload/v1605873393/<%= ship.photo.key %>.jpg')">
          <h3 class="c-ship-name"><%= ship.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
