<div class="home" id="home">
  <div class="container">
    <div class="banner-content">
      <h1 class="home-title text-center">STARSHIPS<br>LOOTERS</h1>
      <div class="sub d-flex justify-content-center align-items-center">
        <p class="subtitle text-center">The best spaceship rent service of the universe! </p>
        <i class="fas fa-space-shuttle ml-1"></i>
      </div>
        <br>
      <div class="text-center"><h1><%= link_to "Start your ride now!", ships_path(), class: "btn btn-success btn-shadow" %></h1></div>
    </div>
  </div>
</div>

<div class="container-ship-index mt-5 mb-5">
  <h2>Ships selection</h2>
  <div class="cards c-home">
    <% @ships.each do |ship| %>
      <%= render 'shared/ship_card', ship: ship %>
    <% end %>
  </div>
</div>


