<div class="home" id="home">
  <div class="container">
    <h1 class="home-title">The best space ships of the universe</h1>
    <div class="text-center mt-5">
      <h1><%= link_to "Enter", ships_path(), class: "btn btn-info home-color" %></h1>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2>Ships selection</h2>
  <div class="cards c-home">
    <% @ships.each do |ship| %>
      <%= render 'shared/ship_card', ship: ship %>
    <% end %>
  </div>
</div>
