<h2>Ships available</h2>


<ul class="list-group shadow-sm">
  <% @ships.each do |ship| %>
    <li class="list-group-item">
        <%= link_to ship.name, ship_path(ship), class: "" %>
    </li>
  <% end %>
</ul>

<div class="d-flex justify-content-center">
  <%= link_to "Add new ship", new_ship_path, class: "btn" %>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Back to home", root_path, class: "btn" %>
</div>