.c-home {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.card img {
  width: 100%;
  background-size: cover;
}

.card-product{
  overflow: hidden;
  height: 150px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product {
  h3{
    font-size: 16px;
    font-weight: bold;
  }
  p{
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

