.footer {
  background: $blue;
  color: white;
  height: 75px;
  box-shadow: 0 .125rem .50rem rgba(black, .75);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
} 