.footer {
  background: $blue;
  color: white;
  height: 75px;
  box-shadow: 0 .125rem .50rem rgba(black, .75);
  padding: 15px;
  margin-top: 40px;
  font-size: 12px;
  i {
    margin: 5px 10px;
    color: $success;
    font-size: 30px;
  }
}

.footer-fix {
  position: fixed;
  bottom: 0;
  width: 100%;
}