.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
}

.navbar-home {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.6;
  
  &.scrolled {
    background: $blue;
    box-shadow: 0 .125rem .50rem rgba(black, .75);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  background-color: white;
}

.navbar-nav {
  background-color: white;
  padding: 3px 10px;
  border-radius: 25px;
}
