// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/dark";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "pages/ships/new";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.temp-fix {
  padding-bottom: 100%;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;;
}
