.ss-header-text {
  width: 40%;
}

.ss-header-img {
  width: 60%;
  height: 402px;
  background-size: cover;
  background-position: center;
}

h2, h5 {
  font-weight: bold;
}

h5 {
  width: 200px;
}

body {
  background-image: asset-url('body_bg_1.png');
  background-repeat: no-repeat;
}
